<template>
  <div class="news-block">
    <div class="navigate">
      <img src="../assets/img/arrow-left.png" alt="*">
      <a href="#"><span>Back</span></a>
    </div>
    <div class="carousel">
      <div class="carousel__left" @click.prevent="changeNews('prev')">
        <img src="../assets/img/arrow-left.png" alt="*">
        <div class="carousel__change"><span>See Previous</span></div>
      </div>
      <div class="carousel__right" @click.prevent="changeNews('next')">
        <div class="carousel__change"><span>See Next</span></div>
        <img src="../assets/img/arrow-right.png" alt="*">
      </div>
    </div>
    <div class="main-news">
      <div class="main-news__image"></div>
      <p class="main-news__top">{{ getCurrentNews.title }}</p>
      <p class="main-news__date">{{ getCurrentNews.date }}</p>
      <p class="main-news__description">{{ getCurrentNews.description }}</p>
      <p class="main-news__description">{{ getCurrentNews.secondDescription }}</p>
      <div class="line"></div>
      <div class="media">
        <div class="media__left">
          <div class="like" @click="toggleCounter" :class="{liked: isLiked}">
            <i></i>
            <span id="likes">{{ getCurrentNews.likes }}</span>
          </div>
          <div class="eye">
            <img src="../assets/img/eye.png" alt="eye">
            <span id="views">{{ getCurrentNews.views }}</span>
          </div>
        </div>
        <div class="media__right">
          <i class="icon-share"></i>
          <i class="icon-facebook"></i>
          <i class="icon-twitter"></i>
        </div>
      </div>
    </div>
    <div class="comments">
      <div class="comments-header">
        <div class="comments-header__left">
          <div class="comment-icon">
            <img src="../assets/img/comments.png" alt="comment">
            <span class="comments-desc">Comments: </span>
            <span class="comments-count" id="comment">{{ getCurrentNews.comments.length }}</span>
          </div>
        </div>
        <div class="comments-header__right" @click="activeClassToggle">
          <div class="popular active-comments" @click="getFilter('likes')">Popular</div>
          <div class="recent" @click="getFilter('date')">Recent</div>
        </div>
      </div>
      <div class="comments-input">
        <input type="text"
               @keyup.enter="submitPost"
               placeholder="Type comment here.."
               size="300" v-model="text">
        <button type="submit" @click.prevent="submitPost"></button>
      </div>
      <div class="comment" v-for="comment in getCurrentNewsComments" :key="comment.id">
        <div class="comment__left">
          <div class="comment__avatar"></div>
        </div>
        <div class="comment-text">
          <p class="comment-text__label">{{ comment.name }}
          </p>
          <span class="comment-text__date">{{ comment.date }}</span>
          <p class="comment-text__text">
            {{ comment.text }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex';


export default {
  name: 'CurrentNews',
  data() {
    return {
      text: '',
      date: '',
      isLiked: false,
    };
  },
  computed: mapGetters(['getCurrentNews', 'getCurrentNewsComments']),
  methods: {
    ...mapMutations(['createComment', 'updateLikeCounter', 'sortedComments', 'setNowNews']),
    // все последующие методы, и вызовы соответствующих экшенов и мутаций, в //
    // рабочем проекте были бы реализованы в плотнейшей связке с бэкендом, //
    // но так как это тестовоезадание, без доступа к API, реализовывать приходится именно так //
    submitPost() {
      if (this.text) {
        const date = new Date();
        this.date = date.toLocaleDateString('en-GB', {
          day: 'numeric', month: 'short', year: 'numeric',
        }).replace(/ /g, ' ');
        this.createComment({
          name: `Svetlakov ${Date.now()}`,
          date: this.date,
          text: this.text,
          likes: 0,
        });
        this.text = '';
        this.date = '';
      }
    },
    toggleCounter() {
      // пришлось принудительно отключить линтер в данной части кода,
      // так как он не допускает использование подобной инкрементации/дикриментации
      // есть правило (no-plusplus)
      /* eslint-disable */
      let likes = this.getCurrentNews.likes;
      this.isLiked ? likes-- : likes++;
      this.isLiked = !this.isLiked;
      this.updateLikeCounter(likes);
    },
    getFilter(filter) {
      this.sortedComments(filter);
    },
    changeNews(switcher) {
      let id = this.getCurrentNews.id;
      if (id > 0 && id < 2) {
        switcher === 'prev' ? id-- : id++;
      }
      if( id === 2 && switcher === 'prev'){
        id--;
      }
      if( id === 0 && switcher === 'next'){
        id++;
      }
      this.setNowNews(id);
    },
    activeClassToggle(event) {
      const et = event.target;
      if (et.classList.contains('popular') && et.nextElementSibling.classList.contains('active-comments')) {
        et.nextElementSibling.classList.remove('active-comments');
        et.classList.add('active-comments')
      }
      if (et.classList.contains('recent') && et.previousElementSibling.classList.contains('active-comments')) {
        et.previousElementSibling.classList.remove('active-comments');
        et.classList.add('active-comments')
      }
    },
  },
};
</script>

<style scoped lang="scss">
  .news-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 830px;
    width: 100%;
    position: relative;
    box-shadow: 0 22px 40px rgba(36, 35, 51, 0.45);
    border-radius: 15px;
    margin-right: 27px;
  }
  .navigate {
    position: absolute;
    top: -2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    & span {
      padding-left: 1.75rem;
      font-size: 1.5rem;
      color: #fff;
      font-family: "Geomanist", sans-serif;;
    }
  }

  .carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4.5rem;
    border-radius: 0.9375rem;
    background-color: rgba(39, 38, 55, 0.8);;
    font-size: 1.2rem;
    font-family: "Geomanist", sans-serif;
    color: #9d9acc;
    margin-bottom: 1.6rem;
    &__left {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 1.75rem;
      &__change{
        color: #9d9acc;
      }

    }
    &__left:hover {
      cursor: pointer;
    }

    &__left span {
      padding-left: 1.75rem;
    }

    &__right {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-right: 1.75rem;
      &__change{
        color: #9d9acc;
      }
    }
    &__right:hover {
      cursor: pointer;
    }

    &__right span {
      padding-right: 1.375rem;
    }

  }

  .main-news {
    padding: 2rem;
    width: 100%;
    border-radius: 15px;
    background-color: rgb(36, 35, 51);
    box-shadow: 0 22px 40px 0 rgba(36, 35, 51, 0.45);

    &__image {
      border-radius: 15px;
      width: 100%;
      height: 25rem;
      background: url(../assets/img/main-img.png) no-repeat;
      background-size: 100%;
      margin-bottom: 2.25rem;
    }

    &__top {
      font-size: 1.8rem;
      font-family: "Geomanist", sans-serif;;
      line-height: 1.2;
      text-align: left;
      width: 98%;
      color: #ffffff;
      letter-spacing: 0.88px;
      margin-bottom: 1.5rem;

    }

    &__date {
      font-family: "Geomanist", sans-serif;;
      color: rgba(157, 154, 204, 0.502);
      line-height: 1.2;
      width: 5.875rem;
      margin-bottom: 1.5rem;

    }

    &__description {
      font-family: "Geomanist", sans-serif;;
      color: rgb(157, 154, 204);
      line-height: 1.5;
      font-size: 1.3rem;
      margin-bottom: 2rem;
    }
  }

  .media {
    border-top: 2px solid;
    border-color: rgba(157, 154, 204, 0.102);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2rem 0;

    &__left {
      padding-left: 1.75rem;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

    }

    &__right {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }

    &__right i {
      width: 24px;
      height: 24px;
      mask-size: contain;
      mask-position: center;
      mask-repeat: no-repeat;
      background: #9d9acc;
      margin-right: 1.5rem;
      &:hover {
        background: #fff;

      }
    }
    /*иконка у твитера отличается по размерам, я бы попросил дизайнера их выровнять*/
    .icon-twitter {
      mask-image: url(../assets/img/mask-icon-twitter.svg);
      mask-size: 32px;
      width: 26px;
      height: 26px;
    }
    .icon-share {
      mask-image: url(../assets/img/mask-icon-share.svg);
    }
    .icon-facebook {
      mask-image: url(../assets/img/mask-icon-facebook.svg);
    }
  }

  .like {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    & i {
      width: 24px;
      height: 24px;
      mask-image: url(../assets/img/mask-icon-like.svg);
      mask-size: contain;
      mask-position: center;
      mask-repeat: no-repeat;
      background: #9d9acc;
    }
    & span {
      padding-left: 1rem;
      color: #9d9acc;
      line-height: 1.563;
      font-family: "Geomanist", sans-serif;
      font-size: 1.3rem;
    }
  }
  .like:hover {
    & i {
      background: linear-gradient(90deg,#d94fc7,#ff905a);
    }
    & span {
      color: #fff;
    }
  }
  .liked{
    & i {
      background: linear-gradient(90deg,#d94fc7,#ff905a);
    }
    & span {
      color: #fff;
    }
  }

  .eye {
    margin-left: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    & span {
      margin-left: 1rem;
      color: rgb(157, 154, 204);
      line-height: 1.563;
      font-family: "Geomanist", sans-serif;;
      font-size: 1.3rem;
    }
  }

  .comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin-top: 1.5rem;
    border-radius: 0.9375rem;
    background-color: rgb(36, 35, 51);
    box-shadow: 0 22px 40px 0 rgba(36, 35, 51, 0.45);
    width: 100%;

  }
  .comments-input {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 780px;
    margin-top: 2rem;
    border-radius: 0.3rem;
    line-height: 1.2;
    height: 56px;
    margin-bottom: 1rem;
    & input {
      max-width: 780px;
      width: 100%;
      height: 100%;
      padding-left: 1.5rem;
      line-height: 1.2;
      color: #fff;
      font-size: 1.4rem;
      background-color: #2a293b;
      border: none;
      &:focus{
        outline: none;
      }
    }

    & button {
      background-color: #2a293b;
      width: 30%;
      min-width: 80px;
      height: 56px;
      border: none;
      position: relative;
      cursor: pointer;
      &:focus{
        outline: none;
      }
      &:after{
        content: '';
        display: block;
        width: 30px;
        height: 30px;
        background: url('../assets/img/arrow-right-bold.png') no-repeat;
        position: absolute;
        right: 0;
        top: 24px;
      }

    }

  }

  .comments-header {
    border-bottom: 2px solid;
    border-color: rgba(157, 154, 204, 0.102);
    width: 100%;
    padding: 1.5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__left {
      padding-left: 1.75rem;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;

    }
    .comments-desc{
      font-size: 1.4rem;
    }
    .comments-count{
      color: #fff;
      font-size: 1.4rem;
    }

    &__right {
      margin-right: 2rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      cursor: pointer;


    }

    &__right div {
      color: #9d9acc;
      line-height: 1.4;
      font-size: 1.3rem;
      cursor: pointer;
      height: 100%;
      padding: 0 24px;
      position: relative;
      &:first-child{
        margin-right: 18px;
      }
    }
    &__right div:hover {
      color: #ffffff;
    }
    .popular:hover:after,
    .recent:hover:after{
      content: '';
      display: inline-block;
      position: absolute;
      bottom: -21px;
      width: 100%;
      height: 2px;
      left: 0;
      border-radius: 1px;
      background-color: #e15d70;
      background-image: -webkit-gradient(linear, left top, right top, from(#d94fc7), to(#ff905a));
      background-image: linear-gradient(to right, #d94fc7 0%, #ff905a 100%);
      -webkit-transition: all 0.3s 0.3s ease-in-out;
      transition: all 0.3s 0.3s ease-in-out;
      opacity: 1;
    }

  }

  .active-comments:after {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: -21px;
    width: 100%;
    height: 2px;
    left: 0;
    border-radius: 1px;
    background-color: #e15d70;
    background-image: -webkit-gradient(linear, left top, right top, from(#d94fc7), to(#ff905a));
    background-image: linear-gradient(to right, #d94fc7 0%, #ff905a 100%);
    -webkit-transition: all 0.3s 0.3s ease-in-out;
    transition: all 0.3s 0.3s ease-in-out;
    opacity: 1;
  }
  .comments-header__right .active-comments {
    color: #fff;
  }
  .comment-icon {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    & span {
      margin-left: 1rem;
      font-size: 1.125rem;
      color: rgb(157, 154, 204);
      line-height: 1.2;
    }
  }

  .comment {
    box-sizing: border-box;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    border-bottom: 2px solid;
    border-color: rgba(157, 154, 204, 0.102);
    padding: 2.5rem 0;


    &__left {
      margin-right: 0.75rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 14%;
    }

    &__avatar {
      margin-top: 1rem;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      background: transparent url('../assets/img/comment-avatar.png') no-repeat center center;
    }
  }

  .comment-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 86%;

    &__label {
      margin-top: 1rem;
      font-size: 1.125rem;
      font-family: "Geomanist", sans-serif;
      color: rgb(157, 154, 204);
      line-height: 1.2;
      font-weight: bold;
      letter-spacing: 1px;
    }

    &__date {
      padding-left: 0.75rem;
      font-family: "Geomanist", sans-serif;
      color: rgba(157, 154, 204, 0.502);
      line-height: 1.2;
    }

    &__text {
      margin-top: 0.75rem;
      color: rgb(255, 255, 255);
      line-height: 1.714;
      font-family: "Geomanist", sans-serif;
    }
  }
  @media (max-width: 1200px) {
    .news-block {
      margin-right: 0;
      margin-bottom: 60px;
    }
  }
    @media (max-width: 360px) {
      .main-news__image {
        height: 180px;
        margin-bottom: 2rem;
      }
      .comment{
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .comment-text{
        justify-content: center;
        align-items: center;
      }
      .media {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 2rem 0;
        &__left {
          padding-left: 0;
          justify-content: flex-start;
          align-items: center;
          margin-bottom: 2rem;

        }
    }
      .comments-header{
        flex-direction: column;
      }
      .comments-header__left{
        margin-bottom: 1rem;
      }
      .comments-header__left, .comments-header__right{
        padding: 0;
        margin-right: 0;
      }
  }

</style>
