<template>
  <div class="nav-wrap">
    <div class="navbar-desktop">
      <nav>
        <!--Если бы это был рабочий проект, то я бы реализовал верхние ссылки через v-for,-->
        <!--из массива с объектами, который получал бы через vuex или с бэкенда-->
        <a href="#" class="home active">Home</a>
        <a href="#" class="marketplace">Marketplace</a>
        <a href="#" class="booster">Booster Packs</a>
        <div class="play-btn-wrap">
          <button class="play">Play</button>
        </div>
      </nav>
      <div class="account-info">
        <div class="user-rating">
          <div class="rating-icon"></div>
        </div>
        <div class="notification">
          <div class="notification-icon">
          </div>
        </div>
        <div class="gems-wrap">
          <div class="gems">
            <p>{{ getGems }}</p>
          </div>
        </div>
        <div class="avatar-wrap">
          <div class="user-avatar">
            <div class="avatar-ico"></div>
          </div>
        </div>
      </div>
    </div>
    <!--в рабочем проекте я бы реализвоал отдельные компоненты для мобильного-->
    <!--и десктопного навбара, для удобства поддерживаемости кода-->
    <div class="navbar-mobile">
      <div id="" class="burger-icon" @click="isShown = !isShown">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="wrap-nav_mobile">
        <nav :class="[isShown ? 'show-nav' : 'hide-nav']">
          <a href="#" class="home active">Home</a>
          <a href="#" class="marketplace">Marketplace</a>
          <a href="#" class="booster">Booster Packs</a>
        </nav>
        <div class="account-info">
          <div class="user-rating">
            <div class="rating-icon"></div>
          </div>
          <div class="notification">
            <div class="notification-icon">
            </div>
          </div>
          <div class="gems-wrap">
            <div class="gems">
              <p>{{ getGems }}</p>
            </div>
          </div>
          <div class="play-btn-wrap">
            <button class="play">Play</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'NavBar',
  data() {
    return {
      isShown: false,
    };
  },
  computed: mapGetters(['getGems']),
};
</script>

<style scoped lang="scss">
  .nav-wrap{
    padding: 0 2.5rem;
  }
  .navbar-desktop {
    width: 100%;
    max-width: 1300px;
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto;
    nav {
      max-width: 560px;
      width: 100%;
      display: flex;
      align-items: center;

      a {
        padding: 2.5rem;
        color: #fff;
        text-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        font-family: "Geomanist", sans-serif;
        font-size: 1.2rem;
        letter-spacing: 1.13px;
        position: relative;
      }

      a:before {
        content: '';
        display: inline-block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.01) 37%,
          rgba(255, 255, 255, 0.01) 48%,
          rgba(255, 255, 255, 0.03) 100%);
        opacity: 0;
        transition: all 0.3s 0.3s ease-in-out;
      }

      a::after {
        content: '';
        display: inline-block;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2px;
        left: 0;
        border-radius: 1px;
        background-color: #e15d70;
        background-image: linear-gradient(to right, #d94fc7 0%, #ff905a 100%);
        opacity: 0;
        transition: all 0.3s 0.3s ease-in-out;
      }

      a:hover::after {
        opacity: 1;
      }

      a:hover::before {
        opacity: 1;
      }

      .active {
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.01) 37%,
          rgba(255, 255, 255, 0.01) 48%,
          rgba(255, 255, 255, 0.03) 100%);
        transition: all 0.3s 0.3s ease-in-out;
      }

      .active:after {
        content: '';
        display: inline-block;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2px;
        left: 0;
        border-radius: 1px;
        background-color: #e15d70;
        background-image: linear-gradient(to right, #d94fc7 0%, #ff905a 100%);
        transition: all 0.3s 0.3s ease-in-out;
        opacity: 1;
      }

      .play-btn-wrap {
        width: 108px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        background-image: linear-gradient(90deg, #6f6d99, #9d9acc);
        border-radius: 21px;
        margin-left: 20px;
      }

      .play {
        width: 106px;
        height: 42px;
        z-index: 3;
        box-shadow: 0 15px 11px rgba(9, 10, 15, 0.15);
        border-radius: 21px;
        border: 4px solid #242333;
        background-color: #6f6d99;
        background-image: linear-gradient(to right, #242333 0%, #3c3b53 100%);
        color: #fff;
        font-size: 1.2rem;
        cursor: pointer;
        outline: none;
        transition: all 0.3s 0.3s ease-in-out;

        &:hover {
          background-image: linear-gradient(90deg, #242333, #6f6d99);
        }
      }
    }
    .account-info {
      display: flex;
      max-width: 270px;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      top: 16px;
      right: 0;

      .rating-icon {
        width: 30px;
        height: 30px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        background: url("../assets/img/achivment.png") no-repeat;
        background-size: contain;
        position: relative;

        &:before {
          content: "";
          display: block;
          width: 12px;
          height: 12px;
          position: absolute;
          right: -14px;
          top: -10px;
          border-radius: 50%;
          border: 4px solid #312f42;
          background-image: linear-gradient(90deg, #6e31c5, #c047c6);
        }
      }

      .notification-icon {
        width: 30px;
        height: 30px;
        position: relative;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        background: url("../assets/img/bell.png") no-repeat;
        background-size: cover;

        &:before {
          content: "";
          display: block;
          width: 12px;
          height: 12px;
          position: absolute;
          right: -10px;
          top: -10px;
          border-radius: 50%;
          border: 4px solid #312f42;
          background-image: linear-gradient(90deg, #4fc8ae, #48d497);
        }
      }

      .gems-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        background-image: linear-gradient(90deg, #6e31c5, #d74ec6);
        border-radius: 21px;
        width: 76px;
        height: 30px;
      }

      .gems {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 74px;
        height: 28px;
        position: relative;
        background-color: #323145;
        z-index: 3;
        color: #fff;
        font-family: "Geomanist", sans-serif;
        border-radius: 21px;

        &:before {
          content: '';
          display: block;
          position: absolute;
          width: 18px;
          height: 18px;
          background: url("../assets/img/gem.png") no-repeat;
          background-size: contain;
          left: 8px;
          top: 8px;
        }
      }

      .avatar-wrap {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
        background-image: linear-gradient(90deg, #6f6d99, #9b98ca);
        border-radius: 50%;

        &:before {
          content: "";
          display: block;
          width: 14px;
          height: 14px;
          position: absolute;
          right: -8px;
          bottom: 0;
          border-radius: 50%;
          border: 4px solid #312f42;
          background-image: linear-gradient(90deg, #df59b6, #f17883);
          z-index: 99;
        }
      }

      .user-avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 46px;
        height: 46px;
        position: relative;
        background-color: #3e3d54;
        z-index: 3;
        border-radius: 50%;
        border: 2px solid #36354b;
      }
    }
  }

  .navbar-mobile {
    display: none;
    max-width: 830px;
    width: 100%;
    flex-direction: column;
    margin: auto;
    position: relative;
    .burger-icon{
      width: 50px;
      height: 40px;
      padding: 11px 8px;
      border: 1px solid #9d3ec5;
      border-radius: 10px;
      cursor: pointer;
      margin-top: 16px;
      span{
        display: block;
        width: 100%;
        height: 2px;
        background-color: #9d3ec5;
        margin-bottom: 6px;
        border-radius: 4px;
        &:last-child{
          margin-bottom:0;
        }
      }
    }
    .hide-nav {
      display: none;
    }
    .show-nav {
      display: flex;
    }
    .wrap-nav_mobile{
      display: flex;
      flex-direction: column;
      background-color: #323145;
      padding: 2rem 0;
    }
    nav {
      max-width: 560px;
      width: 100%;
      display: flex;
      flex-direction: column;
      a {
        display: inline-block;
        padding: 2rem 0 1rem 0;
        color: #fff;
        text-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        font-family: "Geomanist - Book", sans-serif;
        font-size: 1.6rem;
        letter-spacing: 1.13px;
        position: relative;
        width: fit-content;
      }
      .active {
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.01) 37%,
          rgba(255, 255, 255, 0.01) 48%,
          rgba(255, 255, 255, 0.03) 100%);
        transition: all 0.3s 0.3s ease-in-out;
      }

      .active:after {
        content: '';
        display: inline-block;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2px;
        left: 0;
        border-radius: 1px;
        background-color: #e15d70;
        background-image: linear-gradient(to right, #d94fc7 0%, #ff905a 100%);
        transition: all 0.3s 0.3s ease-in-out;
        opacity: 1;
      }
    }

    .account-info {
      display: flex;
      max-width: 370px;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      top: 16px;
      right: 0;

      .play-btn-wrap {
        width: 108px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        background-image: linear-gradient(90deg, #6f6d99, #9d9acc);
        border-radius: 21px;
      }
      .play {
        width: 106px;
        height: 42px;
        z-index: 3;
        box-shadow: 0 15px 11px rgba(9, 10, 15, 0.15);
        border-radius: 21px;
        border: 4px solid #242333;
        background-color: #6f6d99;
        background-image: linear-gradient(to right, #242333 0%, #3c3b53 100%);
        color: #fff;
        font-size: 1.2rem;
        cursor: pointer;
        outline: none;
        transition: all 0.3s 0.3s ease-in-out;
      }

      .rating-icon {
        width: 30px;
        height: 30px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        background: url("../assets/img/achivment.png") no-repeat;
        background-size: contain;
        position: relative;

        &:before {
          content: "";
          display: block;
          width: 12px;
          height: 12px;
          position: absolute;
          right: -14px;
          top: -10px;
          border-radius: 50%;
          border: 4px solid #312f42;
          background-image: linear-gradient(90deg, #6e31c5, #c047c6);
        }
      }

      .notification-icon {
        width: 30px;
        height: 30px;
        position: relative;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        background: url("../assets/img/bell.png") no-repeat;
        background-size: cover;

        &:before {
          content: "";
          display: block;
          width: 12px;
          height: 12px;
          position: absolute;
          right: -10px;
          top: -10px;
          border-radius: 50%;
          border: 4px solid #312f42;
          background-image: linear-gradient(90deg, #4fc8ae, #48d497);
        }
      }

      .gems-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        background-image: linear-gradient(90deg, #6e31c5, #d74ec6);
        border-radius: 21px;
        width: 76px;
        height: 30px;
      }

      .gems {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 74px;
        height: 28px;
        position: relative;
        background-color: #323145;
        z-index: 3;
        color: #fff;
        font-family: "Geomanist", sans-serif;
        border-radius: 21px;

        &:before {
          content: '';
          display: block;
          position: absolute;
          width: 18px;
          height: 18px;
          background: url("../assets/img/gem.png") no-repeat;
          background-size: contain;
          left: 8px;
          top: 8px;
        }
      }
    }

  }

  @media (max-width: 1200px) {
    .navbar-desktop {
      display: none;
    }
    .navbar-mobile {
      display: flex;
    }
  }
  @media (max-width: 420px) {
    .account-info{
      display: none!important;
    }
    .nav-wrap {
      padding: 0 1.5rem;
    }
  }
</style>
