<template>
  <div class="news">
    <!--так же можно было бы создать мобильные компоненты для-->
    <!--каждого из разделов, но так как в наличии нет дизайна мобильной-->
    <!--версии, решил их не создавать-->
    <div class="news-wrap">
      <current-news></current-news>
      <related-news></related-news>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import CurrentNews from './CurrentNews.vue';
import RelatedNews from './RelatedNews.vue';


export default {
  name: 'NewsHolder',
  components: {
    CurrentNews,
    RelatedNews,
  },
  methods: { ...mapActions(['fetchNews']) },
  mounted() {
    this.fetchNews();
  },
};
</script>

<style scoped lang="scss">
  .news{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    background: rgb(50, 49, 69) url(../assets/img/bgim1.png) no-repeat;
    background-size: 100%;
    padding: 6.6rem 2.5rem;
  }
  .news-wrap{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  @media (max-width: 360px) {
    .news{
      padding: 5rem 1.5rem;
    }
  }
</style>
