<template>
<div class="card-wrapper">
  <!--с использованием vue-router с легкостью можно сделать-->
  <!--переходы на соответствующие новости, как и любую другую-->
  <!--навигацию по компонентам/страницам сайта-->
  <div class="news">
    <div class="news__text">
      <p class="news__label">{{ title }}</p>
      <p class="news__description">{{ description }}</p>
    </div>
  </div>
</div>
</template>

<script>
export default {
  props: ['title', 'description'],
  name: 'RelatedNewsCard',
};
</script>

<style scoped lang="scss">
  .card-wrapper {
    cursor: pointer;
  }
  .news{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    max-width: 442px;
    width: 100%;
    height: 262px;
    margin-bottom: 3rem;
    background-size: 100%;
    background: rgb(36, 35, 51) url('../assets/img/realted-news.png') no-repeat;
    border-radius: 0.625rem;
    box-shadow: 0 2rem  3.5rem rgba(36, 35, 51, 0.45);

    &__text{
      background-color: rgba(36, 35, 51, 0.902);
      box-shadow: 0 22px 40px 0 rgba(36, 35, 51, 0.45);
      width: 100%;
      height: 9.3rem;
      border-radius: 0 0 0.625rem 0.625rem;
      padding: 1.25rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__label{
      font-size: 1.5rem;
      font-family: "Geomanist", sans-serif;;
      color: rgb(255, 255, 255);
      line-height: 1.2;
    }

    &__description{
      margin-top: 1rem;
      font-size: 1.16rem;
      font-family: "Geomanist", sans-serif;;
      color: rgb(157, 154, 204);
      line-height: 1.2;
      text-align: left;
      font-weight: bold;
    }

  }
  @media (max-width: 1200px) {
  }
</style>
