<template>
  <div class="related-news-wrapper">
    <div class="navigate--right">
      <a href="#"><span>Related News</span></a>
    </div>
    <related-news-card v-for="soloNews in getRelatedNews"
                       :key="soloNews.id"
                       :title="soloNews.title"
                       :description="soloNews.description"></related-news-card>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import RelatedNewsCard from './RelatedNewsCard.vue';

export default {
  name: 'RelatedNews',
  computed: mapGetters(['getRelatedNews']),
  components: {
    RelatedNewsCard,
  },
};
</script>

<style scoped lang="scss">
  .related-news-wrapper {
    width: 100%;
    max-width: 442px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 0 0 10px 10px;
    position: relative;
  }
  .navigate--right {
    position: absolute;
    top: -2.5rem;
    & a{
      text-decoration: none;
    }
    & span {
      padding-left: 0;
      font-size: 1.5rem;
      color: rgb(255, 255, 255);
      font-family: "Geomanist", sans-serif;;
    }
  }
  @media (max-width: 1200px) {
    .related-news-wrapper {
      width: 100%;
      max-width: 100%;
      align-items: center;
    }
  }
</style>
