<template>
  <div id="app">
    <div class="wrapper">
      <nav-bar></nav-bar>
      <news-holder></news-holder>
    </div>
  </div>
</template>

<script>
import NavBar from './components/NavBar.vue';
import NewsHolder from './components/NewsHolder.vue';


export default {
  name: 'app',
  components: {
    NavBar,
    NewsHolder,
  },
};
</script>

<style lang="scss">
  @font-face {
    font-family: "Geomanist";
    src: url(./assets/font/Geomanist-Book.otf);
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  html {
    font-size: 12px;
    background: #323145;
  }

  .wrapper{
    width: 100vw;
  }
</style>
